/node_modules

# ignore test coverage folder
/coverage

# ignore folder containing published code
/lib

# ignore zip file created when prepacking the plugin
*.tgz

.DS_Store
yarn-debug.log*
yarn-error.log*

